li {
  text-align: start;
}

.aplayer .aplayer-lrc p {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px !important
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
  font-size: 15px;
  color: #49b1f5
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important
}