<footer>
	&copy;2022 - Current&nbsp;By BluesYoung-web
	<br />
	Powered By <a href="https://astro.build/">Astro</a>
</footer>
<style lang="scss">
footer {
	padding: 25px;
	text-align: center;
	@apply dark:text-purple-500;
}
</style>
