---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		date: string;
	};
}

const {
	content: { title, description, date },
} = Astro.props as Props;

---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header client:only="vue" />
		<main class="py-68px w-full">
			<article class="mx-auto w-full xl:w-800px">
				<h1 class="text-center text-2xl font-bold p-5">{title}</h1>
				<time>{date.replace('T', ' ').replace('.000Z', '')}</time>
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
