---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.astro';
import ScrollTop from '@/components/ScrollTop';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="main">
      <div class="header">
    		<Header client:load title={SITE_TITLE} />
      </div>
      <ScrollTop client:only="vue" />
      <div id="main-content">
        <slot />
      </div>
		</main>
		<Footer />
	</body>
</html>


<style lang="scss">
.main {
  @apply text-gray-800 dark:text-purple-500;
}
.header {
  background-attachment: fixed;
  @apply w-full transition-all duration-500 h-68px shadow;
}

#main-content {
  @apply w-full mx-auto min-h-100vh relative text-gray-800 dark:text-purple-500 flex bg-[#f5f5f5];
}
</style>