---
import OneSay from '@/components/OneSay';
import PageDown from '@/components/PageDown';
import Default from './Default.astro';
import { SITE_TITLE } from '@/config';

---

<Default fullscreen={true}>
  <div slot="header" class="h-full flex flex-col justify-center items-center">
    <div>
      <p class="text-2xl font-bold mb-1 lg:text-4xl text-center">
        { SITE_TITLE }
      </p>
      <OneSay client:only="vue" />
    </div>
    <PageDown client:visible />
  </div>

  <slot />
</Default>